---
// src/layouts/MainLayout.astro
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fuel Saver</title>
</head>
<body>
  <header>
    <nav>
      <a href="/" class="home-button">Home</a>
    </nav>
    <h1>Simulador de gasto de combustible</h1>
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <p>Universidad Nacional Autónoma de Honduras | IS-910 Teoría de la Simulación</p>
  </footer>
</body>
</html>